/*****************************************************************************************
*****************************************************************************************
Project Name: LMS
Author Name: Safikul islam
Client Name: LEDP-2020 D2
Project Date: 17-06-2020
Project Type: Education
Project Section:
				1.Top Header
				2.
**********************************************************************************************
**********************************************************************************************/

/**********************************************************************************************
					Base CSS Start
***********************************************************************************************/
*,body{
	margin: 0 auto;
	padding: 0;
}
ul{
	margin-bottom: 0px !important;
}
/**********************************************************************************************
					Base CSS End
***********************************************************************************************/

/**********************************************************************************************
					Common CSS Start
***********************************************************************************************/
.first-bg-color{
background-color: #56AB2F;
}


/**********************************************************************************************
					Common CSS End
***********************************************************************************************/
/**********************************************************************************************
					Top Header CSS Start
***********************************************************************************************/
#top{
	height: 50px;
	width: 100%;
	
	

}
.top_list{
	list-style: none;
}
.top_list li{
	padding-left: 10px;
}
.top_list li:first-child{
	padding-left: 0px !important;
}
.login_border{
	padding-left: 10px;
	color: #c7c7c7;
}

/**********************************************************************************************
					Top Header CSS End
***********************************************************************************************/

/**********************************************************************************************
					Navber CSS start
***********************************************************************************************/




/**********************************************************************************************
					Navber CSS End
***********************************************************************************************/
